<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  
  <ion-card id="NongModel" style="margin-top: 35%;">
    <ion-card-header style="text-align: center;">IDIOMAS</ion-card-header>
    
    <form class="form" [formGroup] = "loginForm" (ngSubmit)="submit()">
      <ion-list> 

    <div class="container"> 
    <ion-router-link  [routerLink]="['/registro']" class="registro">REGISTRARSE</ion-router-link><br>
    </div>

    <ion-item>
      <ion-label style="font-family: cursive;">USUARIO: </ion-label>
      <ion-input [(ngModel)]= "user.email" formControlName="email" name="email" type="text"></ion-input>
    </ion-item>
    <div *ngFor= "let error of errorMessages.email">
      <ng-container *ngIf= "email.hasError(error.type) && (email.dirty || email.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
    
    <ion-item>
      <ion-label style="font-family: cursive;">CONTRASEÑA: </ion-label>
      <ion-input [(ngModel)]= "user.clave" formControlName="clave" name="clave" type="password"></ion-input>
    </ion-item>
    <div *ngFor= "let error of errorMessages.clave">
      <ng-container *ngIf= "clave.hasError(error.type) && (clave.dirty || clave.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <ion-button color="light" style="margin-left: 35%;" (click)="Ingresar()" [disabled] = "loginForm.invalid" >Ingresar</ion-button><br><br>


  </ion-list>
  </form>
  </ion-card>


    <ion-row style="margin-left: 2%;">
      <ion-col>
        <button  class="botones-usuario" id="1" (click)="IngresarTest($event)">ADMIN</button>   
      </ion-col>
      <ion-col>
        <button  class="botones-usuario"  id="2" (click)="IngresarTest($event)">INVITADO</button>
      </ion-col>
      <ion-col>
        <button  class="botones-usuario"  id="3" (click)="IngresarTest($event)">USUARIO</button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 7%;">
      <ion-col>
        <button  class="botones-usuario"  id="5" (click)="IngresarTest($event)" class="botones-usuario">TESTER</button>
      </ion-col>
      <ion-col>
        <button  class="botones-usuario"  id="4" (click)="IngresarTest($event)">ANÓNIMO</button>
      </ion-col>
    </ion-row >


</ion-content>
