<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button style="font-family: Arial, Helvetica, sans-serif;"
        defaultHref="/"
        text="Regresar"
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="tituloHeader">
      IDIOMAS
       <ion-icon class="ionIcon" src="./assets/sign-out-alt-solid.svg" (click)="salir()"></ion-icon>
     </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of lista">
      <ion-icon src={{item.caminoImagen}} slot="start" (click)="reaccion(item)"></ion-icon>      
      <div class="item-note" slot="end">
     
      </div>
    </ion-item>
  </ion-list>   
 
</ion-content>
